<section class="about">
    <div class="container">
        <h2 class="about__title title">О компании</h2>
        <p class="about__text">К нам обратилась компания по продажам систем безопасности, систем пожаротушения, телекоммуникационного оборудования и
        др. Компания довольно большая: с филиалами в трех городах, у каждого из которых своя разветвленная организационная
        структура, отделы, руководители. Одной из самых больших <span>проблем компании было взаимодействие между сотрудниками, которые
        разделены не просто кабинетами или зданиями, а многими километрами. </span>Терялись коммуникации, связи, решение простых
        вопросов отнимало очень много времени, отсутствовал контроль за передачей поручений и их исполнением.</p>
        <p class="about__text">Второй момент – это <span>фиксация всех обращений потенциальных и текущих клиентов.</span></p>
        <p class="about__text--border">Нужно было решить вопрос с тем, как вести общую базу клиентов, не терять коммуникации с ними, обрабатывать каждый
        входящий запрос.
        </p>
        <img src="./img/camera.svg" alt="camera" class="camera posa img--right">
        <img src="./img/conductor-1.svg" alt="conductor-1" class="posa conductor-1 conductor-img--left">
        <img src="./img/camera-2.svg" alt="camera-2" class="posa camera-2 img--left">
        <img src="./img/conductor-2.svg" alt="conductor-2" class="posa conductor-2 conductor-img--right">
    </div>
</section>
