<section class="decisions">
    <div class="container">
        <img src="./img/secure.svg" alt="secure" class="posa secure img--left">
        <img src="./img/graph-lock.svg" alt="graph-lock" class="posa graph-lock img--right">
        <img src="./img/finger-lock.svg" alt="finger-lock" class="posa finger-lock img--left">
        <img src="./img/notebook.svg" alt="notebook" class="posa notebook img--right">
        <img src="./img/siren.svg" alt="siren" class="posa siren img--left">
        <img src="./img/signal.svg" alt="signal" class="posa signal img--right">
        <img src="./img/conductor-4.svg" alt="conductor" class="posa conductor-4 conductor-img--right">
        <img src="./img/conductor-5.svg" alt="conductor" class="posa conductor-5 conductor-img--left">
        <img src="./img/conductor-6.svg" alt="conductor" class="posa conductor-6 conductor-img--right">
        <img src="./img/conductor-7.svg" alt="conductor" class="posa conductor-7 conductor-img--left">
        <img src="./img/conductor-8.svg" alt="conductor" class="posa conductor-8 conductor-img--right">
        <h2 class="decisions__title title">Что сделано и результаты</h2>
        <ul class="decisions__list list">
            <li class="decisions__item list-item">
                <div class="list-item__top decisions-item__top">
                    <div class="decisions-item__square list-item__square"></div>
                    <p class="decisions-item__text list-item__text">Внедрили корпоративный портал Битрикс24. Пригласили сотрудников и настроили структуру компании.</p>
                </div>
                <img src="../img/bitrix-1.png" alt="bitrix-1" class="list-item__img">
            </li>
            <li class="decisions__item list-item">
                <div class="list-item__top decisions-item__top">
                    <div class="decisions-item__square list-item__square"></div>
                    <p class="decisions-item__text list-item__text">Внедрили IP-телефонию и настроили с ней интеграцию с CRM.


                    </p>
                </div>
                <img src="../img/bitrix-2.png" alt="bitrix-1" class="list-item__img">
            </li>
            <li class="decisions__item list-item">
                <div class="list-item__top decisions-item__top">
                    <div class="decisions-item__square list-item__square"></div>
                    <p class="decisions-item__text list-item__text">Внедрили CRM-систему. Теперь все сделки зафиксированы, отработаны, а также их можно проанализировать (какие и почему не
                    состоялись).</p>
                </div>
                <img src="../img/bitrix-3.png" alt="bitrix-1" class="list-item__img">
            </li>
            <li class="decisions__item list-item">
                <div class="list-item__top decisions-item__top">
                    <div class="decisions-item__square list-item__square"></div>
                    <p class="decisions-item__text list-item__text">Разделили работу сотрудников на проекты и задачи, со своими роботами, чтобы упростить и автоматизировать работу
                    менеджеров. Роботы автоматически напоминают руководителю, если задача не выполняется.</p>
                </div>
            </li>
            <li class="decisions__item list-item">
                <div class="list-item__top decisions-item__top">
                    <div class="decisions-item__square list-item__square"></div>
                    <p class="decisions-item__text list-item__text">Внедрили документооборот. Все документы по счетам и расходным кассовым ордерам, договорам ведутся через Битрикс24,
                    согласование занимает 1-2 часа, вместо 2-х дней. Скорость обработки клиента сократилась с 2-х дней до 1-го.</p>
                </div>
            </li>
            <li class="decisions__item list-item">
                <div class="list-item__top decisions-item__top">
                    <div class="decisions-item__square list-item__square"></div>
                    <p class="decisions-item__text list-item__text">Разработали и внедрили бизнес-процессы для организации обучения новым сотрудникам. Теперь не нужно тратить время на
                    постановку задач и подбор обучающих материалов. Сотруднику достаточно нажать на одну кнопку и запустить Бизнес-процесс,
                    который самостоятельно определит, в какой отдел пришел сотрудник, поставит задачу на IT-специалиста с чек-листом по
                    обучению с прикреплением ссылок, видео и других материалов для обучения. А для контроля выполнения добавит в наблюдатели
                    руководителя отдела нового сотрудника.</p>
                </div>
                <img src="../img/bitrix-4.png" alt="bitrix-1" class="list-item__img">
            </li>
        </ul>
    </div>
</section>
