<section class="intro">
    <div class="intro__inner">
        <h1 class="intro__title">Внедрение корпоративного портала, настройка и интеграция телефонии, разработка Бизнес-процессов</h1>
        <span class="intro__span">Внедрение Битрикс24 и телефонии</span>
    </div>
    <div class="intro-mouse">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 26 97" id="intro-mouse">
            <rect x="1" y="27" width="24" height="42" rx="12" stroke="#fff" stroke-opacity=".3" stroke-width="2"></rect>
            <path d="M13 37v7M13 1v16M13 80v16" stroke="#fff" stroke-opacity=".3" stroke-width="2" stroke-linecap="round">
            </path>
        </svg>
    </div>
</section>
